* text=auto !eol
/AUTHORS -text
/Dependencies -text
FlopCpp/AUTHORS -text
FlopCpp/LICENSE -text
FlopCpp/MSVisualStudio/v7/FlopCpp.sln -text
FlopCpp/MSVisualStudio/v7/FlopCpp.suo -text
FlopCpp/MSVisualStudio/v7/FlopCpp/FlopCpp.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/aircraft/aircraft.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/ampl/ampl.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/bid/bid.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/coex/coex.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/coexx/coexx.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/cross/cross.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/cuttingStock/cuttingStock.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/gapmin/gapmin.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/magic/magic.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/mine/mine.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/multiProduct/multiProduct.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/sodoku/sodoku.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/stochBenders/stochBenders.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/sudoku/sudoku.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/tap/tap.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/train/train.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/transport/transport.vcproj -text
FlopCpp/MSVisualStudio/v7/examples/xbsl/xbsl.vcproj -text
FlopCpp/MSVisualStudio/v7/libflopc.vcproj -text
FlopCpp/MSVisualStudio/v8/FlopCpp.sln -text
FlopCpp/MSVisualStudio/v8/FlopCpp.suo -text
FlopCpp/MSVisualStudio/v8/FlopCpp/FlopCpp.vcproj -text
FlopCpp/MSVisualStudio/v8/FlopCpp/unitTest/unitTest.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/aircraft/aircraft.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/ampl/ampl.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/bid/bid.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/coex/coex.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/coexx/coexx.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/cross/cross.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/cuttingStock/cuttingStock.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/gapmin/gapmin.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/magic/magic.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/mine/mine.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/multiProduct/multiProduct.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/sodoku/sodoku.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/stochBenders/stochBenders.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/sudoku/sudoku.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/tap/tap.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/train/train.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/transport/transport.vcproj -text
FlopCpp/MSVisualStudio/v8/examples/xbsl/xbsl.vcproj -text
FlopCpp/MSVisualStudio/v8/libflopc.vcproj -text
FlopCpp/MSVisualStudio/v9/FlopCpp.sln -text
FlopCpp/MSVisualStudio/v9/FlopCpp/FlopCpp.vcproj -text
FlopCpp/MSVisualStudio/v9/FlopCpp/unitTest/unitTest.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/aircraft/aircraft.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/ampl/ampl.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/bid/bid.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/coex/coex.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/coexx/coexx.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/cross/cross.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/cuttingStock/cuttingStock.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/gapmin/gapmin.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/magic/magic.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/mine/mine.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/multiProduct/multiProduct.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/sodoku/sodoku.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/stochBenders/stochBenders.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/sudoku/sudoku.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/tap/tap.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/train/train.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/transport/transport.vcproj -text
FlopCpp/MSVisualStudio/v9/examples/xbsl/xbsl.vcproj -text
FlopCpp/MSVisualStudio/v9/libflopc.vcproj -text
FlopCpp/README -text
FlopCpp/config.guess -text
FlopCpp/config.sub -text
FlopCpp/configure -text
FlopCpp/depcomp -text
FlopCpp/examples/CEPFlopCppModel.cpp -text
FlopCpp/examples/aircraft.cpp -text
FlopCpp/examples/ampl.cpp -text
FlopCpp/examples/bid.cpp -text
FlopCpp/examples/coex.cpp -text
FlopCpp/examples/coexx.cpp -text
FlopCpp/examples/cross.cpp -text
FlopCpp/examples/cuttingStock.cpp -text
FlopCpp/examples/fixed.dat -text
FlopCpp/examples/gapmin.cpp -text
FlopCpp/examples/magic.cpp -text
FlopCpp/examples/mine.cpp -text
FlopCpp/examples/multiProduct.cpp -text
FlopCpp/examples/runall -text
FlopCpp/examples/runone -text
FlopCpp/examples/stampl.cpp -text
FlopCpp/examples/stampl2.cpp -text
FlopCpp/examples/stochbenders.cpp -text
FlopCpp/examples/sudoku.cpp -text
FlopCpp/examples/tap.cpp -text
FlopCpp/examples/train.cpp -text
FlopCpp/examples/train.dat -text
FlopCpp/examples/transport.cpp -text
FlopCpp/examples/xbsl.cpp -text
FlopCpp/flopcpp-uninstalled.pc.in -text
FlopCpp/flopcpp.pc.in -text
FlopCpp/install-sh -text
FlopCpp/ltmain.sh -text
FlopCpp/missing -text
FlopCpp/src/FlopCppConfig.h -text
FlopCpp/src/MP_boolean.cpp -text
FlopCpp/src/MP_boolean.hpp -text
FlopCpp/src/MP_constant.cpp -text
FlopCpp/src/MP_constant.hpp -text
FlopCpp/src/MP_constraint.cpp -text
FlopCpp/src/MP_constraint.hpp -text
FlopCpp/src/MP_data.cpp -text
FlopCpp/src/MP_data.hpp -text
FlopCpp/src/MP_domain.cpp -text
FlopCpp/src/MP_domain.hpp -text
FlopCpp/src/MP_expression.cpp -text
FlopCpp/src/MP_expression.hpp -text
FlopCpp/src/MP_index.cpp -text
FlopCpp/src/MP_index.hpp -text
FlopCpp/src/MP_model.cpp -text
FlopCpp/src/MP_model.hpp -text
FlopCpp/src/MP_set.cpp -text
FlopCpp/src/MP_set.hpp -text
FlopCpp/src/MP_utilities.cpp -text
FlopCpp/src/MP_utilities.hpp -text
FlopCpp/src/MP_variable.cpp -text
FlopCpp/src/MP_variable.hpp -text
FlopCpp/src/config.h.in -text
FlopCpp/src/config_flopcpp.h.in -text
FlopCpp/src/config_flopcpp_default.h -text
FlopCpp/src/flopc.cpp -text
FlopCpp/src/flopc.hpp -text
FlopCpp/test/unitTest.cpp -text
FlopCpp/unittest/Makefile.am -text
FlopCpp/unittest/Makefile.in -text
FlopCpp/unittest/TestBed.cpp -text
FlopCpp/unittest/TestBed.hpp -text
FlopCpp/unittest/TestItem.cpp -text
FlopCpp/unittest/TestItem.hpp -text
FlopCpp/unittest/booleanTest.cpp -text
FlopCpp/unittest/constantTest.cpp -text
FlopCpp/unittest/indexTest.cpp -text
FlopCpp/unittest/setTest.cpp -text
FlopCpp/unittest/unitTest.cpp -text
FlopCpp/unittest/unitTest.hpp -text
/INSTALL -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
