* text=auto !eol
/AUTHORS -text
/Doxyfile -text
/Externals -text
FlopC++/MP_boolean.cpp -text
FlopC++/MP_constant.cpp -text
FlopC++/MP_constraint.cpp -text
FlopC++/MP_data.cpp -text
FlopC++/MP_domain.cpp -text
FlopC++/MP_expression.cpp -text
FlopC++/MP_index.cpp -text
FlopC++/MP_model.cpp -text
FlopC++/MP_set.cpp -text
FlopC++/MP_utilities.cpp -text
FlopC++/MP_variable.cpp -text
FlopC++/Makefile -text
FlopC++/Samples/Makefile -text
FlopC++/Samples/aircraft.cpp -text
FlopC++/Samples/ampl.cpp -text
FlopC++/Samples/bid.cpp -text
FlopC++/Samples/coex.cpp -text
FlopC++/Samples/coexx.cpp -text
FlopC++/Samples/cross.cpp -text
FlopC++/Samples/cuttingStock.cpp -text
FlopC++/Samples/fixed.dat -text
FlopC++/Samples/gapmin.cpp -text
FlopC++/Samples/magic.cpp -text
FlopC++/Samples/mine.cpp -text
FlopC++/Samples/multiProduct.cpp -text
FlopC++/Samples/runall -text
FlopC++/Samples/runone -text
FlopC++/Samples/sodoku.cpp -text
FlopC++/Samples/stochbenders.cpp -text
FlopC++/Samples/tap.cpp -text
FlopC++/Samples/train.cpp -text
FlopC++/Samples/train.dat -text
FlopC++/Samples/transport.cpp -text
FlopC++/Samples/xbsl.cpp -text
FlopC++/flopc.cpp -text
FlopC++/include/MP_boolean.hpp -text
FlopC++/include/MP_constant.hpp -text
FlopC++/include/MP_constraint.hpp -text
FlopC++/include/MP_data.hpp -text
FlopC++/include/MP_domain.hpp -text
FlopC++/include/MP_expression.hpp -text
FlopC++/include/MP_index.hpp -text
FlopC++/include/MP_model.hpp -text
FlopC++/include/MP_set.hpp -text
FlopC++/include/MP_utilities.hpp -text
FlopC++/include/MP_variable.hpp -text
FlopC++/include/Timer.hpp -text
FlopC++/include/flopc.hpp -text
/INSTALL -text
/LICENSE -text
/README -text
